*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'advent_proregular';
    src: url('../police/adventpro_regular_macroman/adventpro-regular-webfont.eot');
    src: url('../police/adventpro_regular_macroman/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/adventpro_regular_macroman/adventpro-regular-webfont.woff') format('woff'),
         url('../police/adventpro_regular_macroman/adventpro-regular-webfont.ttf') format('truetype'),
         url('../police/adventpro_regular_macroman/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'advent_prosemibold';
    src: url('../police/adventpro_semibold_macroman/adventpro-semibold-webfont.eot');
    src: url('../police/adventpro_semibold_macroman/adventpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/adventpro_semibold_macroman/adventpro-semibold-webfont.woff') format('woff'),
         url('../police/adventpro_semibold_macroman/adventpro-semibold-webfont.ttf') format('truetype'),
         url('../police/adventpro_semibold_macroman/adventpro-semibold-webfont.svg#advent_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.contenu-body
{
    flex: 1 0 auto;
}

body
{
    background: #1e1e1e;
    color: white;
    font-family: 'advent_proregular', Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/* Head */
.title b
{
    font-size: 1.5em;
}

.head
{
    background-color: #282828;
    box-shadow: 0em 0.3em 0.5em #282828;
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;

}

.liste-menu
{
    list-style-type: none;
    margin-left: 40px;
    margin-top: 38px;
    display: flex;
    font-size: large;
}

.liste-menu li 
{
    padding: 0 10px;
    cursor: pointer;
}

.liste-menu li:hover
{
    color: black;
    transform: scale(1.3);
    transition: 0.3s;
}

.logo
{
    width: 4em;
    height: 3em;
    margin-top: 8px;
    margin-left: 15%;
    cursor: pointer;
}

.title
{
    font-family: 'advent_prosemibold', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-top: 8px;
    cursor: pointer;
}




/* Body */
.body
{
    text-align: center;
}

.block-body
{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    border: 1px dashed white;
    border-radius: 10%;
    width: 70%;
    position: relative;
    overflow: auto;
    overflow-y: hidden;
}

/*/* Block meilleur film */

.meilleur-film
{
    margin: 50px auto;
}

.list-meilleur-film
{
    list-style-type: none;
    padding: 0px 10px;
    margin-right: 120px;
}

.list-meilleur-film li
{
    padding: 10px 0;
    margin: 45px 0;
}

.bestMovie
{
    font-size: xx-large;
    border-bottom: 1px solid #ddd;
}

.bestMovieResume
{
    font-size: large;
}

.bestMovieImg:hover
{
    cursor: pointer;
    transform: scale(1.3) rotate(360deg);
    transition: 0.6s;
    box-shadow: 1em 1em 1.5em black;
}

/*/* Autres block*/
.meilleurs-films li,
.horreur li,
.sf li,
.comedie li
{
    margin: 45px 10px;
}

.liste
{
    list-style-type: none;
    display: flex;
}

.liste img
{
    transform: translateX(200px);
}

.liste img:hover
{
    cursor: pointer;
    box-shadow: 1em 1em 1.5em black;
}

.block-body-t
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suivpre
{
    width: 5em;
    height: 3em;
    margin: 1%;
}

.suivpre:hover
{
    cursor: pointer;
    transform: scale(1.3) rotate(360deg);
    transition: 0.6s;
}

.play
{
    width: 55px;
}

.play:hover
{
    cursor: pointer;
    transform: scale(1.3) rotate(360deg);
    transition: 0.6s;
}

.p-cate
{
    margin-top: 50px;
    font-size: xx-large;
}



/* Footer */
footer
{
    margin-top: 50px;
    flex-shrink: 0;
    background-color: #282828;
    box-shadow: 0em -0.3em 0.5em #282828;
    width: 100%;
}

.contenu-footer
{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;
}

.block
{
    width: 25%;
}

.footer-contact h3,
.footer-reseaux h3
{
    font-size: xx-large;
    padding-bottom: 20px;
}

.footer-contact p
{
    padding: 5px 0;
}

.liste-reseaux
{
    list-style-type: none;
    position: relative;
    right: 45px;
}

.liste-reseaux li
{
    padding: 2px 0;
}

.liste-reseaux a
{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.liste-reseaux img
{
    padding: 10px 10px;
}

.liste-reseaux a:hover
{
    color: black;
    transform: scale(1.3);
    transition: 0.3s;
}

@media screen and (max-width: 1300px)
{
    .contenu-footer
    {
        width: 700px;
        flex-wrap: wrap;
    }

    .block
    {
        width: 40%;
        margin: 0 0;
    }

    .block:nth-child(1)
    {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px)
{
    .contenu-footer
    {
        width: 320px;
    }

    .block
    {
        width: 300px;
        margin: 30px 30px;
    }

    .block:nth-child(1)
    {
        margin-bottom: 30px;
        margin-top: 0;
    }
}



/* Modale */
.modal
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(00, 00, 00, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.show
{
    visibility: visible;
    opacity: 1;
}

.boite
{
    display: flex;
    position: relative;
    padding: 20px;
    background-color: #282828;
    color: white;
    border-radius: 10%;
    max-width: 75%;
    min-width: 75%;
}

.boite li
{
    padding: 3px 0;
}

.liste-modale
{
    list-style-type: none;
    margin-left: 20px;
}

.fermer
{
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s;
}

.boite .fermer:hover{
    transform:scale(1.3);
  }

.boite img
{
    border-radius: 10%;
    height: 30em;
    width: 30em;
}